USE [master]
GO
/****** Object:  Database [Data_Banking1]    Script Date: 12/18/2025 7:26:21 AM ******/
CREATE DATABASE [Data_Banking1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Data_Banking1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\Data_Banking1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Data_Banking1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\Data_Banking1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Data_Banking1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Data_Banking1]
GO
/****** Object:  Table [dbo].[account]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[account](
	[account_number] [int] IDENTITY(100001,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[balance] [decimal](18, 2) NOT NULL,
	[date_created] [date] NOT NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[account_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[admin]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[admin](
	[admin_id] [int] IDENTITY(1,1) NOT NULL,
	[first_name] [nvarchar](255) NOT NULL,
	[last_name] [nvarchar](255) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[archived_account]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archived_account](
	[archived_id] [int] IDENTITY(1,1) NOT NULL,
	[original_account_number] [int] NULL,
	[user_id] [int] NULL,
	[type] [varchar](20) NULL,
	[balance] [float] NULL,
	[date_created] [date] NULL,
	[archived_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[archived_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[archived_transaction]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archived_transaction](
	[archived_trans_id] [int] IDENTITY(1,1) NOT NULL,
	[original_trans_id] [int] NULL,
	[account_number] [int] NULL,
	[receiver_account] [int] NULL,
	[amount] [float] NULL,
	[type] [varchar](50) NULL,
	[timestamp] [datetime] NULL,
	[admin_id] [int] NULL,
	[status] [varchar](20) NULL,
	[reason] [varchar](255) NULL,
	[archived_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[archived_trans_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[archived_user]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[archived_user](
	[archived_user_id] [int] IDENTITY(1,1) NOT NULL,
	[original_user_id] [int] NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[CNIC] [varchar](20) NULL,
	[Address_Street] [varchar](255) NULL,
	[Address_City] [varchar](100) NULL,
	[date_registered] [date] NULL,
	[deactivated_by_admin_id] [int] NULL,
	[deactivation_reason] [varchar](255) NULL,
	[deactivation_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[archived_user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loan]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loan](
	[loan_id] [int] IDENTITY(1,1) NOT NULL,
	[account_number] [int] NOT NULL,
	[admin_id] [int] NULL,
	[loan_amount] [decimal](18, 2) NOT NULL,
	[interest_rate] [int] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[status] [nvarchar](20) NOT NULL,
	[reason] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[loan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[loan_payment]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[loan_payment](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[loan_id] [int] NOT NULL,
	[payment_date] [date] NOT NULL,
	[amount_paid] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rejected_user]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rejected_user](
	[rejected_id] [int] IDENTITY(1,1) NOT NULL,
	[original_user_id] [int] NULL,
	[first_name] [varchar](50) NULL,
	[last_name] [varchar](50) NULL,
	[email] [varchar](100) NULL,
	[password] [varchar](100) NULL,
	[CNIC] [varchar](20) NULL,
	[Address_Street] [varchar](255) NULL,
	[Address_City] [varchar](100) NULL,
	[date_registered] [date] NULL,
	[rejected_by_admin_id] [int] NULL,
	[rejection_reason] [varchar](255) NULL,
	[rejection_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[rejected_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[transaction]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[transaction](
	[transaction_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NULL,
	[account_number] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[type] [nvarchar](50) NOT NULL,
	[timestamp] [datetime] NOT NULL,
	[receiver_account] [int] NULL,
	[status] [varchar](20) NULL,
	[reason] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[Admin_ID] [int] NULL,
	[first_name] [nvarchar](100) NOT NULL,
	[last_name] [nvarchar](100) NOT NULL,
	[email] [nvarchar](255) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[CNIC] [nvarchar](15) NOT NULL,
	[Address_Street] [nvarchar](255) NOT NULL,
	[Address_City] [nvarchar](100) NOT NULL,
	[date_registered] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_phone]    Script Date: 12/18/2025 7:26:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_phone](
	[user_id] [int] NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC,
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT ((0.00)) FOR [balance]
GO
ALTER TABLE [dbo].[account] ADD  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[archived_account] ADD  DEFAULT (getdate()) FOR [archived_date]
GO
ALTER TABLE [dbo].[archived_transaction] ADD  DEFAULT (getdate()) FOR [archived_date]
GO
ALTER TABLE [dbo].[archived_user] ADD  DEFAULT (getdate()) FOR [deactivation_date]
GO
ALTER TABLE [dbo].[loan] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[rejected_user] ADD  DEFAULT (getdate()) FOR [rejection_date]
GO
ALTER TABLE [dbo].[transaction] ADD  DEFAULT (getdate()) FOR [timestamp]
GO
ALTER TABLE [dbo].[transaction] ADD  DEFAULT ('Approved') FOR [status]
GO
ALTER TABLE [dbo].[account]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[loan]  WITH CHECK ADD FOREIGN KEY([account_number])
REFERENCES [dbo].[account] ([account_number])
GO
ALTER TABLE [dbo].[loan]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[admin] ([admin_id])
GO
ALTER TABLE [dbo].[loan_payment]  WITH CHECK ADD FOREIGN KEY([loan_id])
REFERENCES [dbo].[loan] ([loan_id])
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD FOREIGN KEY([account_number])
REFERENCES [dbo].[account] ([account_number])
GO
ALTER TABLE [dbo].[transaction]  WITH CHECK ADD FOREIGN KEY([admin_id])
REFERENCES [dbo].[admin] ([admin_id])
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD FOREIGN KEY([Admin_ID])
REFERENCES [dbo].[admin] ([admin_id])
GO
ALTER TABLE [dbo].[user_phone]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
USE [master]
GO
